.gz-edit-submit-btns{
    display: none;
}
#gz-btn-cancel{
    display: none;
}

.gz-edit-state{
    #gz-btn-register {
        display: none;
    }
    #gz-btn-clear{
        display: none;
    }
    .gz-edit-submit-btns{
        display: unset;
    }
    #gz-btn-cancel{
        display: unset;
    }
}

.gz-edit-icon{
    cursor: pointer;
}

.gz-load{
    display: block;
    margin: auto;
    width: 20%;
    animation: pizzaSpin 5s linear infinite;
}

@keyframes pizzaSpin {
    100% {
        transform: rotate(360deg);
    }
}